.button, .menu-button, .choice-box, .titled-pane .title {
    -fx-text-fill: white;
    -fx-background-color: rgb(40,40,60);
    -fx-border-color: whitesmoke;
    -fx-border-width: 4;
    -fx-border-radius: 1;
    -fx-padding: 3 6 6 6;
}

.scroll-pane{
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.text-field .input-line {
    -fx-background-color: darkorange;
}

.jfx-date-picker .input-line {
    -fx-background-color: darkorange;
}

.jfx-time-picker .input-line {
    -fx-background-color: darkorange;
}

.jfx-slider{
    -fx-progress-color-color: darkorange;
    -fx-prompt-text-fill: white;
}




.jfx-tab-pane .headers-region, .tab-pane {
    -fx-background-color: rgb(0,150,171);
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: rgb(0,150,171);
}
.jfx-tab-pane .tab-selected-line{
    -fx-background-color: darkorange;

}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: darkorange;
}



.menu-item, .list-cell{
    -fx-text-fill: white;
    -fx-background-color: rgb(40,40,60);
}

.pane{
    -fx-background-color:rgb(0,84,153);
}

.label{
    -fx-text-fill: white;
}


.black{
    -fx-background-color: black;
}

.text-on-dark, .titled-pane{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.text-on-white{
    -fx-text-fill: rgb(40,40,60);
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: rgb(163,235,255);
    -fx-background: -fx-accent;
    -fx-text-fill: rgb(00,00,00);
}