.button, .menu-button, .choice-box, .titled-pane .title {
    -fx-text-fill: whitesmoke;
    -fx-background-color: rgb(66,133,244);
    -fx-opacity: 90%;
    -fx-border-color: whitesmoke;
    -fx-border-width: 4;
    -fx-border-radius: 1;
}

.scroll-pane{
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;

}

.button-scroll-pane{
    -fx-background-color: transparent;
}

.text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.text-field .input-line {
    -fx-background-color: darkorange;
}

.jfx-date-picker .input-line {
    -fx-background-color: darkorange;
}

.jfx-time-picker .input-line {
    -fx-background-color: darkorange;
}

.jfx-slider{
    -fx-progress-color-color: darkorange;
    -fx-prompt-text-fill: white;
}

.help-text{
    -fx-background-color: whitesmoke;
}

.jfx-tab-pane .headers-region, .tab-pane {
    -fx-background-color: rgb(52,103,214);
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: rgb(52,103,214);
}
.jfx-tab-pane .tab-selected-line{
    -fx-background-color: darkorange;
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: darkorange;
}



.menu-item, .list-cell{
    -fx-text-fill: white;
    -fx-background-color: rgb(52,103,214);
}

.pane{
    -fx-background-color: rgb(52,103,214);
    /*-fx-background-color:linear-gradient(to bottom, rgb(181,189,200) 0%,rgb(130,140,149) 36%,rgb(40,52,59) 100%);
*/
}

.label{
    -fx-text-fill: white;
}


.black{
    -fx-background-color: black;
}

.text-on-dark, .titled-pane{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.text-on-white{
    -fx-text-fill: rgb(52,103,214);
}
.list-pane{
    -fx-background-color: rgb(52,103,214);
}


.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: rgb(163,235,255);
    -fx-background: -fx-accent;
    -fx-text-fill: rgb(00,00,00);
}