.button, .menu-button, .title {
    -fx-text-fill: whitesmoke;
    -fx-background-color: rgb(25, 139, 175);
    -fx-opacity: 90%;
    -fx-border-color: whitesmoke;
    -fx-border-width: 4;
    -fx-border-radius: 1;
}

.menu-button, .choice-box, .grey-button {
    -fx-text-fill: whitesmoke;
    -fx-background-color: rgb(135,157,163);
    -fx-opacity: 90%;
    -fx-border-color: whitesmoke;
    -fx-border-width: 4;
    -fx-border-radius: 1;
}

.scroll-pane{
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.button-scroll-pane{
    -fx-background-color: transparent;
}

.text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.text-field .input-line {
    -fx-background-color: rgb(234,161,25);
}

.jfx-date-picker .input-line {
    -fx-background-color: rgb(234,161,25);
}

.jfx-time-picker .input-line {
    -fx-background-color: rgb(234,161,25);
}

.jfx-slider{
    -fx-progress-color: rgb(234,161,25);
    -fx-control-inner-background: rgb(234,161,25);
    -fx-color: rgb(234,161,25);
    -fx-prompt-text-fill: white;
}

.credit-text{
    -fx-text-fill: whitesmoke;
    -fx-opacity: 90%;
    -fx-background-color: radial-gradient(center 50% 50% , radius 200% , rgb(135,157,163), transparent);
}

.help-text{
    -fx-background-color: whitesmoke;
}

.tutorial-background {
    -fx-background-color: whitesmoke;
    -fx-opacity: 90%;
}
.jfx-tab-pane .headers-region, .tab-pane {
    -fx-background-color: rgb(135,157,163);
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: rgb(135,157,163);
}
.jfx-tab-pane .tab-selected-line{
    -fx-background-color: rgb(234,161,25);
}
.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: rgb(234,161,25);
}

.menu-item, .list-cell{
    -fx-text-fill: white;
    -fx-background-color: rgb(135,157,163);
}

.pane, .blue-anchor{
    -fx-background-color: rgb(21,82,99);
    /*-fx-background-color:linear-gradient(to bottom, rgb(181,189,200) 0%,rgb(130,140,149) 36%,rgb(40,52,59) 100%);
*/
}

.label{
    -fx-text-fill: white;
}

.black{
    -fx-background-color: black;
}

.text-on-dark, .titled-pane{
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.text-on-white{
    -fx-text-fill: rgb(25, 139, 175);
}
.list-pane{
    -fx-background-color: rgb(135,157,163);
}
.axis-label{
    -fx-text-fill: black;
}

.no-scroll-bar .scroll-bar:vertical,
.no-scroll-bar .scroll-bar:horizontal,
.no-scroll-bar .corner{
    -fx-scale-x: 0;
}


/*
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: rgb(163,235,255);
    -fx-background: -fx-accent;
    -fx-text-fill: rgb(00,00,00);
}

.chart-legend {
    -fx-background-color: yellow;
}

.chart-legend-item{
    -fx-text-fill: black;
}
    -fx-background-color: rgb(234,161,25);
    /*-fx-background: -fx-accent;
    /*-fx-text-fill: rgb(00,00,00);
}
*/

.list-cell:filled:hover{
    -fx-background-color: rgb(234,161,25);
    -fx-text-fill: white;
}

.list-cell:filled:selected{
    -fx-background-color: rgb(255,201,60);
    -fx-text-fill: white;
}

.menu-item:hover{
    -fx-background-color: rgb(234,161,25);
    -fx-text-fill: white;
}
